body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    cursor: pointer;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-main-container {
    width: 100%;
    height: 40vh;
    background-color: #003580;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* navbar */

nav h1, nav h3 {
    color: white;
}

.navbar {
    background-color: #003580;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.nav-left {
    margin-left: 30px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-right: 30px;
    align-items: center;
}


.nav-button {
    border-radius: 5px;
    height: 35px;
    background-color: white;
    color:#0085CA;
}

.nav-link {
    color: white;
    text-decoration: none;
}

/* end of navbar */

/* headline styles */

.headline-container {
    width: 70%;
}

.headline-container h1, .headline-container h2 {
    color: white;
}

.headline-container h1 {
    font-size: 48px;
    font-weight: 700;
}

.headline-container h2 {
    font-weight: lighter;
}

.text-smaller {
    font-size: 30px;
    font-weight: 100;
}

/* end of headline styles */

/* form styles */

.form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    justify-content: space-evenly;
}

.form-container form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-container input {
    height: 45px;
    min-width: 23vw;
    border: 4px solid #FFBF3F;
    border-right: none;
}

.guest-select-button {
    height: 55px;
    width: 8.5vw;
    background-color: white;
    border: 4px solid #FFBF3F;
    border-right: none;
}

.guest-selector {
    position: relative;
}

.guest-selector-container {
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    display: none;
    z-index: 10;
}

.counter-container button {
    border: none;
    background-color: white;
    font-size: 20px;
    color: #0085CA;
}

.person-selector-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    height: 40px;
}

.counter-container {
    border: 1px solid gray;
    border-radius: 5px;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
.ready-button {
    width: 100%;
    height: 30px;
    border: 1px solid #0085CA;
    color: #0085CA;
    background-color: white;
}
.search-button {
    max-height: 55px;
    width: 7vw;
    background-color: #0085CA;
    color: white;
    font-size: 18px;
    border: 4px solid #FFBF3F;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-container i {
    position: absolute;
    left: 10px;
    color: gray;
    font-size: 20px;
}

.input-container input {
    padding-left: 40px;
}

.input-container button {
    padding-left: 30px;
}

.town-dropdown-container {
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    z-index: 10;
    min-width: 27vw;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    display: none;
}


.town-dropdown-container li:hover {
    cursor: pointer;
}

.city {
    list-style: none;
    margin-bottom: 10px;
}

/* End of form styles */

/* Results page styles */

.results-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-top: 20px;
}

.listing-container-left {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

.listing-container-right {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    padding: 10px;
}

.listing-container-top {
    display: flex;
    flex-direction: column;
}

.listing-container-left h2 {
    color: black;
}

.listing-container-right h2 {
    color: black;
}

.filter-button {
    min-width: 28vw;
    height: 30px;
    justify-content: left;
    align-items: center;
    display: flex;
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-button:hover {
    background-color: lightgray;
}

.map-container {
    height: 150px;
    border-radius: 5px;
    z-index: 1;
}

/* Style mapy dla strony offer_dynamic.js */

.offer-page .map-container {
    height: 250px;
    width: 100%;
}

/* Koniec stylów mapy dla strony offer_dynamic.js */

.listing-container-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 20px;
}

.listing-img-container {
    width: 250px;
    height: 200px;
    display: flex;
    justify-items: left;
}

.listing-img-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
}

.listing {
    display: flex;
    flex-direction: row;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 20px;
}

.listing-details-container {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.data-container {
    margin-right: 100px;
}

.review-count-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.review-count-container span:last-child {
    font-size: 12px;
    color: gray;
}

.rating-container {
    display: flex;
    align-items: center;
    gap: 10px;
    height: fit-content;
}

.rating {
    background-color: #003580;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
}

.rating-description {
    font-weight: 700;
}

/* Style ratingu dla strony offer_dynamic */

.offer-page .rating-container {
    padding: 10px;
    border: 1px solid lightgray;
    display: flex;
    width: 250px;
    justify-content: flex-end;
}

.offer-page i {
    cursor: pointer;
}

/* Koniec stylów ratingu dla strony offer_dynamic */

.location-details-container {
    display: flex;
    flex-direction: row;
    line-height: 1.5;
}

.listing-details-top {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.listing-details-top-left {
    display: flex;
    flex-direction: column;
}

.listing-details-top i {
    background-color: #FFBF3F;
    color: white;
    padding: 3px;
    font-size: 6px;
    margin-left: 5px;
}

.listing-details-top h4 {
    align-items: center;
    display: flex;
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 0;
}

.listing-details-top p {
    font-size: 12px;
    margin-bottom: 0;
}

.distinct-attributes-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.distinct-attributes-container p {
    background-color: #008234;
    color: white;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.tooltip-text {
    width: 300px;
    visibility: hidden;
    background-color: white;
    color: black;
    line-height: 1.5;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 5px 5px 5px lightgray;
}

.popup:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.bold {
    font-weight: bold;
    font-size: 14px;
}

.urgent {
    color: #d4111e;
}

.listing-details-bottom {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    border-left: 2px solid lightgray;
}

.listing-details-bottom-left {
    width: 60%;
    margin-right: 100px;
}

.listing-details-bottom-left p {
    font-size: 12px;
    margin-bottom: 0;
    line-height: 1.5;
}

.listing-details-bottom-left h5 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 12px;
}

.pricing-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 200px;
}

.pricing-container h5, .pricing-container h3 {
    padding: 0;
    margin: 0;
}

.pricing-container p {
    padding: 0;
    margin-bottom: 10px;
    color: gray;
    font-size: 10px;
}

.availability-button {
    background-color: #0085CA;
    border: none;
    border-radius: 5px;
    color: white;
    height: 5vh;
    padding: 10px;
}

/* Style strony oferty */

.navigation-container {
    padding: 10px;
    margin-top: 5vh;
    width: 70%;
}

.navigation-container button {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid lightgray;
    background-color: white;
    width: 16%;
    height: 8vh;
    color: black;
}

.navigation-container button:hover {
    background-color: #d9e0e9;
}

.navigation-container button:focus {
    border-bottom: 3px solid #0085CA;
}

.dynamic-listing {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.dynamic-listing p {
    font-size: 12px;
}

.offer-top-container {
    display: flex;
    padding: 10px;
    flex-direction: row;
    width: 100%;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
}

.offer-address-container {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 2vh;
}

.offer-address-container i {
    font-size: 18px;
    color:#0085CA;
    margin-right: 10px;
}

.middle-container {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    width: auto;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 80%;
    height: 400px;
    }
    
    .div1 { grid-area: 1 / 3 / 5 / 6; background-color: #008234; }
    .div2 { grid-area: 1 / 1 / 3 / 3; background-color: #008234;  }
    .div3 { grid-area: 3 / 1 / 5 / 3; background-color: #008234;  }
    .div4 { grid-area: 5 / 1 / 6 / 2; background-color: #008234;  }
    .div5 { grid-area: 5 / 2 / 6 / 3; background-color: #008234;  }
    .div6 { grid-area: 5 / 3 / 6 / 4; background-color: #008234;  }
    .div7 { grid-area: 5 / 4 / 6 / 5; background-color: #008234;  }
    .div8 { grid-area: 5 / 5 / 6 / 6; background-color: #008234;  }

.middle-side-container {
    height: inherit;
    width: auto;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lower-container {
    padding-top: 10px;
}

.facilities-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.facility {
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
}

.facility:last-child {
    width: 100%;
}

.facility i {
    margin-right: 8px;
    font-size: 1.2rem;
    color: #555;
}

.long-description-container {
    margin-top: 20px;
    padding: 15px;
    line-height: 1.5;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.long-description-container p {
    margin-bottom: 15px;
    font-size: 14px;
}

/* Style dla strony z formularzem rezerwacji */

.reservation-summary-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    border: 1px solid #0085CA;
    border-radius: 5px;
    padding: 15px;
}

.reservation-summary {
    display: flex;
    flex-direction: column;
}

.reservation-body .bold, .reservation-body p {
    font-size: 20px;
}


.reservation-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.reservation-form-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.reservation-form-container label {
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
}

.reservation-form-container input,
.reservation-form-container select,
.reservation-form-container button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.reservation-form-container input:focus,
.reservation-form-container select:focus {
    outline: none;
    border-color: #007bff;
}

.reservation-form-container button {
    grid-column: span 2;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.reservation-form-container button:hover {
    background-color: #0056b3;
}

/* Koniec stylów dla formularza */

/* Style dla strony success.html */

.success-body a {
    text-decoration: none;
}
